/*  */
/*  */
/*  */

@define-mixin SHOW_longLogo {
  span[data-logo-text-long] {
    display: flex;
  }
  span[data-logo-text-short] {
    display: none;
  }
}
@define-mixin SHOW_shortLogo {
  span[data-logo-text-long] {
    display: none;
  }
  span[data-logo-text-short] {
    display: flex;
  }
}

.logoBtn {
  --right-side-padding: 1.6rem;

  position: sticky;
  top: 0;
  z-index: 10;

  gap: 1.2rem;

  padding: 0 var(--right-side-padding) 0 1.2rem;
  height: var(--nav-height);
  min-height: var(--nav-height);
  flex: 1;

  & [data-logo-img] {
    width: calc(var(--nav-height) - 2rem);
    height: calc(var(--nav-height) - 2rem);
    border-radius: 10rem;

    box-shadow: var(--btn-shadow);

    border: var(--border-light);
    background: center no-repeat url("/domas.jpg");
    background-size: cover;
  }

  & span[data-logo-text] {
    font-weight: 600;
    margin-right: auto;
    color: var(--text-white);
  }

  @media (min-width: 381px) {
    @mixin SHOW_longLogo;
  }

  @media (max-width: 380px) {
    @mixin SHOW_shortLogo;
  }
}
