/*  */
/*  */
/*  */

@define-mixin SHOW_longLogo {
  span[data-logo-text-long] {
    display: flex;
  }
  span[data-logo-text-short] {
    display: none;
  }
}
@define-mixin SHOW_shortLogo {
  span[data-logo-text-long] {
    display: none;
  }
  span[data-logo-text-short] {
    display: flex;
  }
}

.logoBtn {
  --right-side-padding: 1.6rem;

  position: sticky;
  top: 0;
  z-index: 10;

  gap: 1.2rem;

  padding: 0 var(--right-side-padding) 0 1.2rem;
  height: calc(var(--tiny-nav-height) + 0.1rem);
  min-height: calc(var(--tiny-nav-height) + 0.1rem);
  flex: 1;

  & span[data-logo-text] {
    font-weight: 600;
    margin-right: auto;
    color: var(--text-white);
  }

  @media (min-width: 381px) {
    @mixin SHOW_longLogo;
  }

  @media (max-width: 380px) {
    @mixin SHOW_shortLogo;
  }
}
