/*  */
/*  */
/*  */

.logoBtn {
  --right-side-padding: 1.6rem;

  position: sticky;
  top: 0;
  z-index: 10;

  border-bottom: var(--border-light);
  gap: 1.2rem;

  padding: 0 var(--right-side-padding) 0 1.2rem;
  height: var(--tiny-nav-height);
  min-height: var(--tiny-nav-height);

  &[data-flex="true"] {
    flex: 1;
  }

  & [data-logo-img] {
    width: calc(var(--tiny-nav-height) - 2rem);
    height: calc(var(--tiny-nav-height) - 2rem);
    border-radius: 10rem;

    box-shadow: var(--btn-shadow);

    border: var(--border-light);
    background: center no-repeat url("/domas.jpg");
    background-size: cover;
  }

  & span[data-logo-text] {
    font-weight: 600;
    margin-right: auto;
    color: var(--text-white);
  }
}
