/*  */
/*  */
/*  */

.projectCorner_BTN {
  --right-side-padding: 1.6rem;
  padding-left: var(--right-side-padding);
  width: inherit;
  position: absolute;

  position: sticky;
  top: 0;
  z-index: 10;

  border-bottom: var(--border-light);
  gap: 1.2rem;

  & [data-text-wrap] {
    flex: 1;
    text-align: start;
    width: inherit;
  }

  & [data-arrow] {
    display: none;
  }

  &[data-is-menu-toggle="true"] {
    /* padding-left: 0; */
    gap: 0;

    & [data-text] {
      /* padding-left: 1.2rem; */
      width: calc(
        100% - 1.6rem /* dd arrow width */ - var(--right-side-padding)
      );
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    & [data-arrow] {
      display: block;
      position: absolute;
      right: var(--right-side-padding);
    }
  }
}

.x {
  width: calc(
    100% - 1.2rem /* left padding */ - 1.6rem /* right padding */ - 1.2rem
      /* gap */ - 1.6rem /* icon width */
  );
}
