/*  */
/*  */
/*  */

@custom-media --tablet (max-width: 990px);
@custom-media --desktop (min-width: 991px);

.sidenav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 30;

  display: flex;
  flex-direction: column;

  width: var(--side-nav-width);
  min-width: var(--side-nav-width);

  height: 100vh;
  max-height: 100vh;
  border-right: var(--border-light);
  overflow: hidden;

  @media (--tablet) {
    display: none !important;
  }
}
