/*  */
/*  */
/*  */

@custom-media --tablet (max-width: 990px);
@custom-media --desktop (min-width: 991px);

.sidenav {
  top: 0;
  position: sticky;
  z-index: 30;

  display: flex;
  flex-direction: column;

  width: var(--side-nav-width);
  height: 100vh;
  max-height: 100vh;
  border-right: var(--border-light);
  overflow: hidden;

  & ul {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  @media (--tablet) {
    display: none !important;
  }
}
