/*  */
/*  */
/*  */

.localmore_LOGO {
  width: 100%;
  position: relative;

  --color-brand: #b84600;
  --color-brand-dark: #383940;
  --transition: 600ms ease;
  --bg-localmore: #fff7f0;

  &[data-shrink-type="left"] {
    & [data-group="LOCAL MORE>"] {
      transition: 0ms !important;
    }
  }

  &[data-shrink="true"] {
    &[data-shrink-type="center"] {
      & [data-group="OCA"] {
        opacity: 0;
      }

      & [data-group="LOCAL MORE>"] {
        transform: translateX(-8px);
      }
      & [data-group="LOCA"] {
        transform: translateX(65.5px);
      }
      & [data-group="OCAL MORE>"] {
        transform: translateX(-65.5px);
      }

      & [data-group="ORE>"] [data-target-letter] {
        transform: translateX(-49px);
      }
      & [data-group="ORE"] {
        opacity: 0;
      }
      & [data-letter="L-1"] {
        opacity: 0;
      }
    }
    &[data-shrink-type="left"] {
      & [data-group="OCAL MORE>"] {
        transform: translateX(-65.5px);
      }
      & [data-group="OCAL"] {
        opacity: 0;
      }
      & [data-group="ORE>"] [data-target-letter] {
        transform: translateX(-49px);
      }
      & [data-group="ORE"] {
        opacity: 0;
      }
    }
  }

  /* transition: var(--transition); */
  & * {
    transition: var(--transition);
  }

  & [data-letter-dark] {
    fill: var(--color-brand-dark);
  }
  & [data-letter-brand] {
    fill: var(--color-brand);
  }

  & [data-cover-rect],
  & [data-local-cover] {
    fill: white;
  }

  &[data-bg="lm-background"] {
    & [data-cover-rect],
    & [data-local-cover] {
      fill: var(--bg-localmore);
    }
  }
}
