/*  */
/*  */
/*  */

@custom-media --mobile (max-width: 767px);
@custom-media --tablet (max-width: 990px);
@custom-media --desktop (min-width: 991px);
@custom-media --desktop-small (max-width: 1300px);
@custom-media --desktop-big (min-width: 1301px);

.MyUxCard_GRID {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr 1fr 1fr;

  &[data-mobile] {
    display: none;
  }

  @media (max-width: 1500px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--desktop-small) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--mobile) {
    display: none;

    &[data-mobile] {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
