/*  */
/*  */
/*  */

@custom-media --mobile (max-width: 767px);
@custom-media --tablet (max-width: 990px);
@custom-media --desktop-small (max-width: 1300px);
@custom-media --desktop-big (min-width: 1301px);

.externalLinkGrid_CONTAINER {
  & [data-link-grid] {
    margin-top: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem;

    @media (--mobile) {
      grid-template-columns: 1fr;
    }
  }
}
