/*  */
/*  */
/*  */

@custom-media --mobile (max-width: 767px);
@custom-media --tablet (max-width: 990px);
@custom-media --desktop (min-width: 991px);
@custom-media --desktop-small (max-width: 1300px);
@custom-media --desktop-big (min-width: 1301px);

.MyUxAdmin_SIDE {
  position: fixed;
  right: 0;
  top: 0;
  width: 40rem;
  height: 100vh; /* Use 100dvh if supported for dynamic view height */
  border-left: var(--border-light);
  background-color: var(--fill-bg);

  display: flex;
  flex-direction: column;

  & [data-title] {
    height: 4rem;
    width: 100%;

    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--dark-light);
    border-bottom: var(--border-light);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & [data-content-wrap] {
    width: 100%;
    flex: 1;
    height: 10px; /* if this isn't included, the content wrap will push the btn wrap under it out of the view */

    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow-y: auto;
    padding: 2rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & [data-no-ux-selected] {
    width: 100%;
    text-align: center;
    border-bottom: var(--border-light);
    padding: 1.4rem 0;

    display: none;
  }

  &[data-hide="true"] {
    * {
      display: none;
    }
    & [data-no-ux-selected] {
      display: inline;
    }
  }

  &[data-desk="false"] {
    position: relative;
    height: 100%;
    width: 100%;
  }

  @media (--mobile) {
    &[data-desk="true"] {
      display: none;
    }
  }
}
