/*  */
/*  */
/*  */

@custom-media --mobile (max-width: 767px);
@custom-media --tablet (max-width: 990px);
@custom-media --desktop-small (max-width: 1300px);
@custom-media --desktop-big (min-width: 1301px);

.parent {
  gap: 2rem;
  padding: 2rem 0;
  border-bottom: var(--border-light);

  @media (--tablet) {
    padding: 1.8rem var(--padding-tablet);
  }
}
