/*  */
/*  */
/*  */

@custom-media --mobile (max-width: 767px);
@custom-media --tablet (max-width: 990px);
@custom-media --desktop (min-width: 991px);
@custom-media --desktop-small (max-width: 1300px);
@custom-media --desktop-big (min-width: 1301px);

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 40;

  padding: 0 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  & .dialog {
    width: 100%;
    max-width: 120rem;

    height: 90vh;
    max-height: 65rem;

    border-radius: 1.6rem;
    border: var(--border-light);
    overflow: hidden;
    background-color: var(--fill-bg);

    display: flex;
    flex-direction: column;
    z-index: 60;

    & [data-content-wrap] {
      flex: 1;
      display: flex;
      overflow-y: auto;
      height: 100%;

      & [data-text-wrap] {
        padding: 2rem;
        flex: 1;
        height: 100%;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
      }

      & [data-img-wrap] {
        width: 54rem;
        height: 100%;

        position: relative;
        align-items: center;
        justify-content: center;

        & [data-mobile-img-scroll] {
          overflow-x: auto;
          display: none;
          border-bottom: var(--border-light);

          & [data-img] {
            width: 90vw;
            height: 90vw;
            aspect-ratio: 1/ 1;
            object-fit: cover;

            /* position: relative;
            z-index: 5; */

            &[data-single="true"] {
              width: 100vw;
              height: 100vw;
            }
          }
        }

        @media (--tablet) {
          width: 100%;
          height: auto;

          & [data-swiper] {
            display: none;
          }
          & [data-mobile-img-scroll] {
            display: flex;
          }
        }
      }

      @media (--tablet) {
        flex-direction: column-reverse;
        overflow-y: auto;
        padding-bottom: 6rem;
      }
    }

    @media (--tablet) {
      height: 100%;
      max-height: none;
      border-radius: 0;
    }
  }

  @media (--tablet) {
    padding: 0;
  }

  /* &[data-entering] {
    animation: fade 200ms ease-in-out;
  }

  &[data-exiting] {
    animation: fade 150ms reverse ease-in;
  } */
}
/* @keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
