/*  */
/*  */
/*  */

.Error_BOX {
  display: flex;
  padding: 1.4rem 1.8rem 1.8rem;
  gap: 1.25rem;

  border: var(--border-error);
  border-radius: 1.2rem;
  background-color: var(--red-error-text-bg);

  font-weight: 500;
  color: var(--red-error-text);

  & span,
  & p {
    color: var(--red-error-text);
  }

  &[data-light] {
    border: var(--border-light);
    background-color: transparent;
    color: var(--text-white-light);

    & path {
      fill: var(--text-white-light);
    }
  }

  &[data-icon-position="top"] {
    flex-direction: column;
  }
}
