/*  */
/*  */
/*  */

@define-mixin small {
  width: var(--icon-small);
  height: var(--icon-small);
  min-width: var(--icon-small);
  min-height: var(--icon-small);
}
@define-mixin medium {
  width: var(--icon-medium);
  height: var(--icon-medium);
  min-width: var(--icon-medium);
  min-height: var(--icon-medium);
}
@define-mixin big {
  width: var(--icon-big);
  height: var(--icon-big);
  min-width: var(--icon-big);
  min-height: var(--icon-big);
}
@define-mixin default {
  @mixin small;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms;
  position: relative;

  &[data-size="medium"] {
    @mixin medium;
  }
  &[data-size="big"] {
    @mixin big;
  }
}

.ICON_dropDownArrow {
  @mixin default;
  padding: 0.15rem 0.42rem 0 0.42rem;

  &[data-color="white"] {
    & path {
      fill: var(--text-white);
    }
  }
  &[data-color="main"] {
    & path {
      fill: var(--text-main);
    }
  }
}

.ICON_x {
  @mixin default;

  &::before,
  &::after {
    transition: 100ms;
    content: "";
    position: absolute;
    width: 0.24rem;
    height: 100%;
    background-color: var(--text-white);
    border-radius: 5rem;
  }

  &[data-size="big"] {
    &::before,
    &::after {
      width: 0.26rem;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &[data-color="white"] {
    &::before,
    &::after {
      background-color: var(--text-white);
    }
  }
  &[data-color="main"] {
    &::before,
    &::after {
      background-color: var(--text-main);
    }
  }
}
.ICON_arrow {
  @mixin default;

  & path {
    &[data-color="white"] {
      fill: var(--text-white);
    }
    &[data-color="light"] {
      fill: var(--text-white-light);
    }
  }
}
.ICON_error {
  @mixin default;

  & .path_FILL {
    fill: var(--error);
  }
}
