/*  */
/*  */
/*  */

@import "./roots.css";

@custom-media --tablet (max-width: 990px);
@custom-media --desktop (min-width: 991px);

@define-mixin outline {
  /* Focus visible triggers on mobile tap */
  /* should I find a workaround? */
  /* for now, only desktop has focus visible styling */

  @media (--desktop) {
    &:focus-visible,
    &[data-focus-visible] {
      border: var(--border-white) !important;
      outline: var(--outline-show) !important;
      background: var(--dark-lightest) !important;
    }
  }
}
@define-mixin BTN-DEFAULT {
  display: flex;
  align-items: center;

  padding: 1rem 2rem;
  column-gap: 0.8rem;
  transition: 100ms;

  border: var(--border-transparent);
  outline: var(--outline-hide);

  & * {
    font-weight: 400;
    color: var(--text-white);
  }

  &[data-light-left-border-color="true"] {
    border-left: var(--border-light);
  }
  &[data-light-bottom-border-color="true"] {
    border-bottom: var(--border-light);
  }
  &[data-light-top-border-color="true"] {
    border-top: var(--border-light);
  }

  @mixin outline;
}
@define-mixin btn {
  @mixin BTN-DEFAULT;

  border-radius: 1.2rem;
  background: var(--dark-light);
  box-shadow: var(--btn-shadow);
  border: var(--border-light);

  &:active,
  &[data-pressed] {
    box-shadow: var(--btn-shadow-press) !important;
    border: var(--border-white) !important;
    background: var(--dark-lightest) !important;
  }

  @media (--desktop) {
    &:hover,
    &[data-hovered] {
      background: var(--dark-lightest) !important;
      box-shadow: var(--btn-shadow-hover) !important;
    }
  }
}
@define-mixin btn-square {
  @mixin BTN-DEFAULT;
  background: var(--dark);

  &:active,
  &[data-pressed] {
    background: var(--dark-lightest);
    border: var(--border-white) !important;
    & * {
      color: var(--text-white) !important;
    }
  }

  @media (--desktop) {
    &:hover,
    &[data-hovered] {
      background: var(--dark-light) !important;
    }
  }

  &[data-active="true"] {
    background-color: var(--bg-main) !important;

    & span,
    p,
    a {
      color: var(--text-main) !important;
    }
  }
}
@define-mixin btn-square-light {
  @mixin btn-square;
  background: var(--dark-light);

  @media (--desktop) {
    &:hover,
    &[data-hovered] {
      background: var(--dark-lightest) !important;
    }
  }
}
@define-mixin native-link-nav {
  transition: var(--btn-transition);

  display: flex;
  align-items: center;
  padding: 1.6rem 2.2rem 1.6rem 1.2rem;
  gap: 1.2rem;

  border-bottom: var(--border-light);
  outline: var(--outline-hide);

  & div[data-text-wrap] {
    flex: 1;
    display: flex;
    flex-direction: column;

    & span[data-title] {
      color: var(--text-white);
      font-weight: 700;
    }
    & span[data-subtitle] {
      color: var(--text-white-light);
    }
  }

  & div[data-arrow] {
    transition: 150ms;
    position: relative;
    opacity: 0;
  }

  &:active,
  &[data-pressed] {
    background: var(--dark-light) !important;
    border: var(--border-white) !important;
  }

  @media (--desktop) {
    &:hover,
    &[data-hovered] {
      background: var(--dark-light) !important;
      & div[data-arrow] {
        opacity: 1;
        transform: translateX(0.4rem);
      }
    }
  }

  @media (--tablet) {
    & div[data-arrow] {
      opacity: 1;
    }
  }

  &:focus-visible {
    & div[data-arrow] {
      opacity: 1;
    }
  }

  @mixin outline;
}
@define-mixin btn-tiny-desk-round {
  @mixin btn-square-light;

  padding: 0 0.8rem;
  height: 3.2rem !important;
  border-radius: 100rem;
  transition: 150ms;

  color: var(--text-white-light);
  & p,
  & span {
    color: var(--text-white-light);
  }

  &[data-hide="true"] {
    pointer-events: "none";
    opacity: 0;
  }

  &[data-last] {
    color: var(--text-white-light);
    & p,
    & span {
      color: var(--text-white);
      font-weight: 700;
    }
  }
}
@define-mixin btn-pagination {
  @mixin BTN-DEFAULT;

  border-radius: 9999px;
  background: var(--dark-light);
  opacity: 0.8;

  @media (--desktop) {
    &[data-hovered] {
      opacity: 0.9;
    }
  }

  &[data-pressed] {
    opacity: 1;
  }

  @media (--desktop) {
    &:focus-visible,
    &[data-focus-visible] {
      border: var(--border-white) !important;
      outline: 0.3rem solid black !important;
    }
  }

  /* In case the swiper is not looped and reaches the first/last slides */
  &[data-disable="true"] {
    pointer-events: none;
    opacity: 0.25;
  }
}

.btn {
  @mixin btn;
}
.btn-square {
  @mixin btn-square;
}
.btn-square-light {
  @mixin btn-square-light;
}
.btn-tiny-desk-round {
  @mixin btn-tiny-desk-round;
}
.native-link-nav {
  @mixin native-link-nav;
}
.btn-pagination {
  @mixin btn-pagination;
}
