/*  */
/*  */
/*  */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.8rem;

  border-radius: 1.2rem;
  border: var(--light-border);
  box-shadow: 1px 2px 12px 3px #ffffff0d;

  background-color: var(--dark-light);
  padding: 1rem 2rem;
  color: var(--text-white);

  transition: background-color 100ms, border-color 100ms, color 100ms,
    box-shadow 100ms;
  overflow: hidden;

  cursor: pointer;
  font-size: inherit;
  font-weight: 400;

  text-wrap: nowrap;
  text-decoration: none;
  position: relative;
  outline: 0.2rem solid transparent;

  &:hover,
  &:focus,
  &[data-hovered],
  &[data-focused] {
    background: var(--dark-lightest);
    box-shadow: 1px 2px 18px 5px #ffffff0d;
  }

  &:active,
  &[data-pressed] {
    box-shadow: 1px 2px 18px 5px #ffffff26;
    border-color: var(--text-white);
  }

  &:focus-visible,
  &[data-focus-visible] {
    outline: 0.2rem solid var(--text-white);
  }

  &.squareBtn {
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-left: var(--light-border);
    padding: 0 3rem;
  }
}
