@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Light.ttf);
  font-weight: 300;

  font-style: light;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Medium.ttf);
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito-Black.ttf);
  font-weight: 800;
}

.weight-700 {
  font-weight: 700;
}
.weight-600 {
  font-weight: 600;
}
.weight-500 {
  font-weight: 500;
}
.weight-400 {
  font-weight: 400;
}
.weight-300 {
  font-weight: 300;
}

:root {
  --h1-desk: 4rem;
  --h1-mob: 3.4rem;

  --h2-desk: 3rem;
  --h2-mob: 3rem;

  --h3-desk: 2.6rem;
  --h3-mob: 2.6rem;

  --h4-desk: 2.2rem;
  --h4-mob: 2.2rem;

  --h5-desk: 1.8rem;
  --h5-mob: 1.8rem;
}

/* ======================================================================== */
/* Font sizes - base 18px, 1.250 major third */
.size-h1 {
  font-size: var(--h1-desk);
}
.size-h2 {
  font-size: var(--h2-desk);
}
.size-h3 {
  font-size: var(--h3-desk);
}
.size-h4 {
  font-size: var(--h4-desk);
}
.size-h5 {
  font-size: var(--h5-desk);
}

@media (max-width: 600px) {
  .size-h1 {
    font-size: var(--h1-mob);
  }
  .size-h2 {
    font-size: var(--h2-mob);
  }
  .size-h3 {
    font-size: var(--h3-mob);
  }
  .size-h4 {
    font-size: var(--h4-mob);
  }
  .size-h5 {
    font-size: var(--h5-mob);
  }
}
/* ======================================================================== */

p,
a,
span,
.btn {
  font-weight: 400;
  color: var(--text-white-light);
}
