@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-media --mobile (max-width: 767px);
@custom-media --tablet (max-width: 990px);
@custom-media --desktop (min-width: 991px);
@custom-media --desktop-small (max-width: 1300px);
@custom-media --desktop-big (min-width: 1301px);

:root {
  background-color: var(--fill-bg);
}

html {
  scroll-behavior: smooth;
  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  overflow-x: hidden !important;

  min-height: 110vh;

  padding-left: var(--side-nav-width);

  @media (--tablet) {
    padding-left: 0;
  }
}

/* ------------------------------------------------------------------------------------------------ */

section[data-last="true"] {
  border-top: var(--border-light);
  border-bottom: var(--border-light);
}

.container {
  width: 100%;
  max-width: var(--max-conainer-width);
  margin: 0 auto;
  transition: 100ms;

  padding: var(--padding-desk);
  margin-bottom: 3rem;

  @media (--desktop-small) {
    padding: var(--padding-desk-small);
  }

  @media (--tablet) {
    padding: var(--padding-tablet);
  }
}
.container.hero {
  margin-bottom: 0;
  @media (--tablet) {
    padding: 0;
    margin-bottom: 3rem;
  }
}

/* ------------------------------------------------------------------------------------------------ */

p {
  text-wrap: auto;
}

p > span[data-hyperlink] {
  text-decoration: underline;
  transition: 100ms;
}
p > span[data-hyperlink]:hover {
  color: var(--text-white) !important;
}

div[data-tiny-scrollbar-styles],
ul[data-tiny-scrollbar-styles] {
  --sb-track-color: transparent;
  --sb-thumb-color: rgba(255, 255, 255, 0.356);
  --sb-size: 0.4rem;

  &::-webkit-scrollbar {
    width: var(--sb-size);
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
  }

  @media (--desktop) {
    &:hover {
      &::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
      }
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
