:root {
  /* Primitive colors */
  --white-95: rgba(255, 255, 255, 0.95);
  --white-75: rgba(255, 255, 255, 0.75);
  --white-10: rgba(255, 255, 255, 0.1);
  --dark: #141414;
  --dark-light: #1f1f1f;
  --dark-lightest: #292929;

  --brown-text: #e2ccab;
  --brown-bg: #413c36;
  /* ------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------- */
  /* Colors */
  --fill-bg: #141414;
  --text-white: var(--white-95);
  --text-white-dimm: var(--white-75);
  --border-white-10: var(--white-10);
  --border-white-max: var(--white-95);

  --main-text: var(--brown-text);
  --main-bg: var(--brown-bg);
  /* ------------------------------------------------------------------------------- */
  --website-tag-bg: #2f382b;
  --website-tag-text: #00ff37;
  --app-tag-bg: #352e44;
  --app-tag-text: #e2cdff;
  --logo-tag-bg: #3f382a;
  --logo-tag-text: #ff934b;
  --images-tag-bg: #443030;
  --images-tag-text: #ff9292;
  --video-tag-bg: #314347;
  --video-tag-text: #73e7e1;
  --coding-tag-bg: #3e2e41;
  --coding-tag-text: #feaaff;
  --in-progress-tag-bg: #3b392a;
  --in-progress-tag-text: #ffd900;

  /* ------------------------------------------------------------------------------- */
  /* Sizing */
  --tiny-nav-height: 4.8rem;
  --side-nav-width: 30rem;
  --mobile-padding: 4vmin;
  /* ------------------------------------------------------------------------------- */
  --test: 600px;
  --light-border: 0.1rem solid var(--border-white-10);
  /* ------------------------------------------------------------------------------- */

  /* ------------------------------------------------------------------------------- */
}
