:root {
  /* Primitive colors */
  --white-95: rgba(255, 255, 255, 0.95);
  --white-75: rgba(255, 255, 255, 0.75);
  --white-10: rgba(255, 255, 255, 0.1);
  --dark: #141414;
  --dark-light: #1f1f1f;
  --dark-lightest: #292929;

  --brown-text: #e2ccab;
  --brown-bg: #413c36;
  /* ------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------- */
  /* ------------------------------------------------------------------------------- */
  /* Colors */
  --fill-bg: #141414;
  --text-white: var(--white-95);
  --text-white-light: var(--white-75);

  --text-main: #fe8c5f;
  --fill-main: #fe8c5f;
  --bg-main: rgb(32 28 26);

  --main-text: var(--brown-text);
  --main-bg: var(--brown-bg);
  /* ------------------------------------------------------------------------------- */
  --website-tag-bg: #2f382b;
  --website-tag-text: #00ff37;
  --app-tag-bg: #352e44;
  --app-tag-text: #e2cdff;
  --logo-tag-bg: #3f382a;
  --logo-tag-text: #ff934b;
  --images-tag-bg: #443030;
  --images-tag-text: #ff9292;
  --video-tag-bg: #314347;
  --video-tag-text: #73e7e1;
  --coding-tag-bg: #3e2e41;
  --coding-tag-text: #feaaff;
  --in-progress-tag-bg: #3b392a;
  --in-progress-tag-text: #ffd900;

  /* ------------------------------------------------------------------------------- */
  /* Sizing */
  --nav-height: 6rem;
  --tiny-nav-height: 4rem;
  --side-nav-width: 28rem;

  --mobile-padding: 4vmin;
  --btn-transition: 150ms;

  /* ------------------------------------------------------------------------------- */
  --test: 600px;

  /* --max-width-mobile: 740px;
  --max-width-tablet: 990px;
  --min-width-desktop: 991px; */
  /* ------------------------------------------------------------------------------- */

  --border-transparent: 0.1rem solid transparent;
  --border-light: 0.1rem solid var(--white-10);
  --border-white: 0.1rem solid var(--white-95);

  --outline-hide: 0.2rem solid transparent;
  --outline-show: 0.2rem solid var(--text-white);

  /* ------------------------------------------------------------------------------- */

  --btn-shadow: 1px 2px 12px 3px rgba(255, 255, 255, 0.05098);
  --btn-shadow-hover: 1px 2px 18px 5px #ffffff0d;
  --btn-shadow-press: 1px 2px 18px 5px #ffffff26;

  /* ------------------------------------------------------------------------------- */

  --icon-small: 1.6rem;
  --icon-medium: 2rem;
  --icon-big: 2.4rem;

  /* ------------------------------------------------------------------------------- */

  --scrollbar-width: 17px;

  /* ------------------------------------------------------------------------------- */
}
